.employee-group-component{
        display: flex;
        justify-content: space-between;
}

/* .card-employee-list{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 400px) );
        justify-content: center;
} */
