
.chatui-container{
        min-height:100vh; 
        border : 2px black solid;  
        display: flex;
}
.listChat-component{
        border : 2px black solid;  
        min-width: 30%; 
        overflow: auto; 


}
.chatSession-component{
        border : 2px black solid; 
        
        min-width: 70%; 

}