
.listChat-component{
        border : 2px black solid;  
        min-width: 30%; 
        overflow: auto; 


}
.chatSession-component{
        border : 2px black solid; 
        
        min-width: 70%; 

}