.searchbox-component {
	position: relative;
	width: 350px;
	right: -20px;
	// height: 30px;
	background: rgba(255, 255, 255, 0.7);
	border: none;
	background-color: transparent;
	border-bottom: 1px white solid;
	outline: none;
	&::-webkit-input-placeholder {
		color: white;
	}
}
