.overlay-EmployeeInGroup-container {
  min-height: 100vh;
  background: rgba(27, 25, 25, 0.25);
  pointer-events: none;
  opacity: 0.5; 
  .rate-card-activate-component {
    pointer-events: auto;
    opacity: 0.9; 
  }
}
