* {
  font-family: "Open Sans Condensed";
  /* background-color: #f1f8f6; */
}
a {
  text-decoration: none;
}
.signin-signup-page{
  background-image: url(./Assests/SignIn_Register/business-communication.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

