@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  font-family: "Open Sans Condensed";
  /* background-color: #f1f8f6; */
}
a {
  text-decoration: none;
}
.signin-signup-page{
  background-image: url(./Assests/SignIn_Register/business-communication.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
}


